.container{
    height: 100%;
    min-width: 410px;
    border-left: 1px solid #CFCFCF;
    background: #fff; 
}

.header{
    padding: 40px 0 30px 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.hidden{
    position: absolute;
    right: -500px;
}

.visible{
    position: absolute;
    right: 0px;

    animation-name: show;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}




.cart{
    border-bottom: 1px solid #CFCFCF;
    padding: 0 0 0 40px;
    height: 301px;
    overflow-y: auto;

    animation-name: opacity-animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}


.cartItem{
    width: 330px;
    background-color: rgb(249, 238, 203);
}

.total{
    padding: 40px 0 0 40px;
    width: 314px;
    li{
        margin-bottom: 22px;
        display: flex;
        justify-content: space-between;
    }
    
}

@keyframes hide {
    0%{
        position: absolute;
        right: 0px;
    }
    100%{
        height: 100%;
        position: absolute;
        right: -500px;
    }
}

@keyframes show {
    0%{
        position: absolute;
        right: -500px;
    }

    99%{
        position: absolute;
    }

    100%{
        position: relative;
        right: 0px;
    }
}

@keyframes show-absolute {
    0%{
        position: absolute;
        right: -500px;
    }

    99%{
        position: absolute;
    }

    100%{

        right: 0px;
    }
}


@keyframes opacity-animation {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}



@media screen and (max-width: 1045px) {
    .hidden{
        animation-name: hide;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    .visible{
        animation-name: show-absolute;
        min-width: 100%;
    }

    .header{
        padding: 30px 0 20px 30px;
    }

    .cart{
        padding: 0 0 0 20px;
    }

    .total{
        padding: 30px 0 0 30px;
    }
}
