.merchandises{
    margin: 60px auto;
    width: 890px;
    height: 100%;

    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-column-gap: 70px;
    grid-row-gap: 50px;
}

.merchandise{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    .merchandises{
        width: 570px;
        grid-template-columns: 250px 250px;
    }
}

@media screen and (max-width: 650px) {
    .merchandises{
        width: 250px;
        grid-template-columns: 250px;
    }
}